[submodule "vim/vim.symlink/pack/plugins/start/vim-airline"]
	path = vim/vim.symlink/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/vim.symlink/pack/plugins/start/vim-go"]
	path = vim/vim.symlink/pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/vim.symlink/pack/plugins/start/fzf"]
	path = vim/vim.symlink/pack/plugins/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "vim/vim.symlink/pack/plugins/start/fzf.vim"]
	path = vim/vim.symlink/pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vim/vim.symlink/pack/plugins/start/vim-lsp"]
	path = vim/vim.symlink/pack/plugins/start/vim-lsp
	url = https://github.com/yegappan/lsp.git
